body {
    font-family: Arial, sans-serif;
    background-color: white;
    border-color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size:1500px 800px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color:transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(251, 250, 250);
    margin-top: 180px;
}

.about-content {
    text-align: justify;
}