body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(132, 157, 240, 1);
}

.container {
    width: 25%;
    margin:auto;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
background-color: #4caf50;
color: white;
padding: 15px 30px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.success-message {
    color: #4caf50;
    margin-top: 10px;
}